@charset "UTF-8" ;

/*----------------------------------------
 Toggle Menu
-----------------------------------------*/

#toggle-menu {
	position: absolute;
	display: block;
	top: 20px;
	left: 0;
	cursor: pointer;
}

#toggle-menu p {
	line-height: 120%;
	padding: 2px 0 0 30px;
	font-size: 14px;
}

#toggle-menu span {
	position: absolute;
	width: 24px;
	height: 4px;
	border-radius: 5px;
	-webkit-border-radius: 5px; /* Safari,Google Chrome用 */  
	-moz-border-radius: 5px; /* Firefox用 */
	background: #000;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;

}

#toggle-menu span:nth-child(1) {
	top: 0;
}

#toggle-menu span:nth-child(2) {
	top: 7px;
}

#toggle-menu span:nth-child(3) {
	top: 14px;
}

.open #toggle-menu span:nth-child(1) {
	top: 7px;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	transform: rotate(315deg);
}

.open #toggle-menu span:nth-child(2) {
	display: none;
}

.open #toggle-menu span:nth-child(3) {
	top: 7px;
	-webkit-transform: rotate(-315deg);
	-moz-transform: rotate(-315deg);
	transform: rotate(-315deg);
}

/*----------------------------------------
 SideNavigation
-----------------------------------------*/

#SideNavigation {
  position: fixed; 
  top: 60px;
  left: -340px;
  overflow: auto;
  width: 300px;
  height: 100%;
  padding: 20px;
  transition: left .5s, right .5s;
  background-color: rgba(86, 86, 86, .7);
}

.open #SideNavigation {
	left: 0;
}

#SideNavigation ul {
	list-style: none;
}

#SideNavigation ul li {
}

#SideNavigation ul li a {
	display: block;
	text-decoration: none;
}






		
		


