@charset "UTF-8" ;

/*----------------------------------------
 Toggle Menu
-----------------------------------------*/

#toggle-menu {
	position: absolute;
	display: block;
	top: 20px;
	left: 0;
	cursor: pointer;
}

#toggle-menu p {
	line-height: 120%;
	padding: 2px 0 0 30px;
	font-size: 14px;
}

#toggle-menu span {
	position: absolute;
	width: 24px;
	height: 4px;
	border-radius: 5px;
	-webkit-border-radius: 5px; /* Safari,Google Chrome用 */  
	-moz-border-radius: 5px; /* Firefox用 */
	background: #000;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;

}

#toggle-menu span:nth-child(1) {
	top: 0;
}

#toggle-menu span:nth-child(2) {
	top: 7px;
}

#toggle-menu span:nth-child(3) {
	top: 14px;
}

.open #toggle-menu span:nth-child(1) {
	top: 7px;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	transform: rotate(315deg);
}
.open #toggle-menu span:nth-child(2) {
	display: none;
}
.open #toggle-menu span:nth-child(3) {
	top: 7px;
	-webkit-transform: rotate(-315deg);
	-moz-transform: rotate(-315deg);
	transform: rotate(-315deg);
}








#menu {
  position: fixed;
  top: 0;
  right: -340px;
  overflow: hidden;
  width: 300px;
  height: 100%;
  padding: 20px;
  transition: left .5s, right .5s;
  background-color: rgba(86, 86, 86, .7);
}

#open:checked + #menu {
  right: 0;
}










#SideNavigationParent01 {
	position: absolute;
	top: 50px;
	width: 100%;
	left: -0px;
}

.open #SideNavigationParent01 {
	-moz-transform: translateX(1000px);
	-webkit-transform: translateX(1000px);
	transform: translateX(1000px);
}


#SideNavigationParent {
	position: absolute;
	top: 50px;
	width: 100%;
	left: -1000px;
}

.open #SideNavigationParent {
	-moz-transform: translateX(1000px);
	-webkit-transform: translateX(1000px);
	transform: translateX(1000px);
}



.open #nav-toggle span:nth-child(1) {
	top: 7px;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	transform: rotate(315deg);
}
.open #nav-toggle span:nth-child(2) {
	width: 0;
	left: 50%;
}
.open #nav-toggle span:nth-child(3) {
	top: 7px;
	-webkit-transform: rotate(-315deg);
	-moz-transform: rotate(-315deg);
	transform: rotate(-315deg);
}




#SideNavigationParent {
	width: 200px;
	height: 400px;
	float: left;
	border: 1px solid #ccc;
}
		
#SideNavigationChild {
	display: none;
	width: 200px;
	height: 400px;
	float: left;
	background-color: #666;
}

#SideNavigationParent:hover + #SideNavigationChild {
	display: block;
	transition: 0.5s;
}

#SideNavigationChild:hover {
	display: block;
	transition: 0.5s;
}
		
		
		

#SideNavigationParent {
  width: 200px;
  height: 400px;
	float: left;
	background-color: #999;
}

#SideNavigationParent a {
	display: block;
}

#SideNavigationParent a:hover {
	background-color: #666;
	display: block;
}


#SideNavigationChild {
  width: 200px;
  height: 400px;
	float: left;
	display: none;
	background-color: #666;
}







/*----------------------------------------
 global nav parent
-----------------------------------------*/

#global-nav ul {
	position: absolute;
	right: 0;
	bottom: 0;
	list-style: none;
}

#global-nav ul li {
	position: relative;
	width: 200px;
	font-size: 14px;
	text-align: center;
	float: left;
	border-right: #CCC solid 1px;
	line-height: 2em;
}

#global-nav ul li a{
	display: block;
	cursor: auto;
}

#global-nav ul li a:hover{
	background-color: #CCC;
}

#global-nav ul li:last-child {
	border-right: none;
}

/*----------------------------------------
 global nav children
-----------------------------------------*/

#global-nav ul li ul{
	visibility: hidden;
	position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
}

#global-nav ul li:hover ul li{
	visibility: visible;
	width: 400px;
	text-align: left;
	border-right: none;
	background-color: #FFF;
	animation: fadeIn 1s ease 0s 1 normal;
}

#global-nav ul li ul li a{
	padding: 5px 10px;
	line-height: 1.2em;
}

/*----------------------------------------
 Toggle Button
-----------------------------------------*/

#nav-toggle {

	position: absolute;
	right: 12px;
	top: 8px;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 101;
	background-color: #5976BA;
}

#nav-toggle span {
	display: block;
	position: absolute;
	height: 3px;
	left: 0;
	width: 21px;
	margin: 10px 8px;
	background: #FFF;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
	top: 0;
}

#nav-toggle span:nth-child(2) {
	top: 6px;
}

#nav-toggle span:nth-child(3) {
	top: 12px;
}